/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1; /* Take remaining height */
  overflow: hidden; /* Ensure no overflow */
}

.content {
  flex: 1; /* Take remaining width */
  padding: 20px;
}
