.add-model-form {
  max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .add-model-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .add-model-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .add-model-form select,
  .add-model-form input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .add-model-form .config-checkbox {
    margin-bottom: 5px;
  }
  
  .add-model-form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .popup-content button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }