.brand-management {
  /* margin: 2%; */
  width: 100%;
  /* Adjust based on sidebar width */
  /* margin-top: 0px; Adjust based on your layout */
  /* margin-left: 250px; Ensure there's proper spacing with the Sidenav */
  /* padding: 20px; */
  /* position: absolute;  */
}

.brand-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4%;
}

.brand-table th,
.brand-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.brand-table th {
  background-color: #f2f2f2;
}

.edit-button {
  background-color: #007bff;
  /* Blue */
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.delete-button {
  background-color: #dc3545;
  /* Red */
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.add-brand-btn {
  background-color: #28a745;
  /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  /* Align button to the right */
  margin-bottom: 2%;
}