/* src/components/usermanagement/usermanagement.css */
.user-management {
    width: 100%; /* Adjust based on sidebar width */
    margin-top: 0px; /* Adjust based on your layout */
    /* margin-left: 250px; Ensure there's proper spacing with the Sidenav */
    /* padding: 20px; */
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-bar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .user-table .edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .user-table .edit-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  